{% load static %}
<!DOCTYPE html>
<html>
<div id="spinner" style="display: none;">
<div class="loader"></div>
</div>

<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<head>
    <title>GitProfiler</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>GitProfiler</h1>
    <h2>Github Profiler of Skills for Recruiting</h2>
    <form method="post" action="/">
        {% csrf_token %}
        <input type="text" name="username" placeholder="GitHub username">
        <input type="submit" value="Submit">
    </form>
    <a href="/api/" class="glow-button" data-tooltip="Go to API">
        🔗 API
    </a>
    <a href="/docs/" class="glow-button" data-tooltip="Go to Dev Docs">
        📚 Dev Docs
    </a>
    {% if report %}
        <h2>Report for {{ username }}</h2>
        <p>{{ report }}</p>
        <a href="/download/">Download Report</a>
    {% endif %}
    {% if data %}
        <h2>{{ data.title }}</h2>
        <h1>{{ data.h1 }}</h1>
        {% for p in data.p %}
            <p>{{ p }}</p>
        {% endfor %}
    {% endif %}
    <script src="{% static 'main.js' %}"></script>
    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p class="mt-3 text-dark">Data is being saved and report is being created...</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>